
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <card-header>
                Account Register
            </card-header>
            <div class="card-body">
                <form action="signup" method="POST">
                    <div class="form-group">
                        <input type="text" name="first_name" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="last_name" class="form-control" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <input type="number" name="age" class="form-control" placeholder="Age">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-block">
                        Signup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
           <a href="http://localhost:3000/api/github/login">Sign up with Github</a>     
        </div>
    </div>
</div>